/* ----------

    generel

------------ */
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
}
main{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer{
    height: 10vh;
    text-align: center;
}

/* ----------

    Main

------------ */
.terminal{
    overflow-y: scroll;
}
.inputField{
    background-color: #38bb38;
    padding: 1%;
    display: flex;
    align-content: center;
    align-items: center;
}

h1, p, .fa-square-full, a{
    line-height: 1.5;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 1em;
    color: white;
    margin-left: 34px;
}
.fas, a{
    margin:0;
}
.fa-square-full{
    visibility: visible;
}
.blink{
    visibility: hidden;
}